@charset "UTF-8";

@font-face {
    font-family: 'Young-Serif-400';
    src: url('./../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('./../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Semibold';
    src: url('./../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url('./../assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


:root{
    /*colors*/
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800:  hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --Blue: hsl(228, 45%, 44%);

    /*Fonts*/
    --Young-Serif-400:'Young-Serif-400', serif;
    --Outfit-Regular: 'Outfit-Regular', sans-serif;
    --Outfit-Semibold:'Outfit-Semibold', sans-serif;
    --Outfit-Bold:'Outfit-Bold', sans-serif;
    --fs-base: 16px;
    --fs-11:0.6875em;
    --fs-18: 1.125em;
    --fs-30: 1.875em;
    --fs-36: 2.25em;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    font-family: var(--Outfit-Regular);
    color: var(--Stone-900);
    font-size: var(--fs-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Stone-100);
}

h1 {
    font-family: var(--Young-Serif-400);
    color:var(--Stone-900);
    font-size: var(--fs-36);
    line-height: 1.5;
    margin: 0 0 1.4375rem 0;  /*0 0 23px 0*/
}

h2 {
    font-family: var(--Young-Serif-400);
    font-size: var(--fs-30);
    color:var(--Brown-800);
    margin-bottom: 1.125rem;
}

h2:not(:first-of-type)::before{
    content: "";
    display: block;
    border: none;
    border-top: 1px solid var(--Stone-150);
    height: 1px;
    margin: 2.25rem 0;
}

h3 {
    font-family: var(--Outfit-Semibold);
    font-size: var(--fs-18);
    color: var(--Rose-800);
    margin: 0 0 1.5625rem 0;
}

p {
    line-height:1.5em;
}

ol, ul{
    list-style-position: inside;
    padding-left: 0;
}

ul li, ol li{
    text-indent: -1rem;
    padding-left: 1rem;
}

li {
    padding: 1rem 0 0 0;
}

ol li::marker{
    color: var(--Brown-800);
    font-weight: var(--fw-600);
}

.container{
    width: 100%;
    max-width: 73.70rem;
    background-color: var(--White);
}

article img {
    width: 100%;
    object-fit: cover;
}

article .content {
    margin: 2.5rem 1.875rem 1.875rem; /*40 30 30*/
}

article .content p:first-of-type{
    padding: 0 0.2rem;
    margin-bottom: 2.375rem;
}

article .prep-time{
    background-color: var(--Rose-50);
    margin-bottom: 2.0625rem;
    padding: 1.5rem;
}

article .emphasis{
    color: var(--Stone-600);
    font-weight: var(--fw-600);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
}

th, td{
    padding: 0.5rem;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid var(--Stone-150);
}

td:first-child{
    color: var(--Stone-600);
}

td:last-child{
    color:var(--Brown-800);
    font-weight: 600;
}

tbody tr:last-child {
    border-bottom: none;
}

footer{
    margin: 1rem 0 1rem 1rem;
    font-size: var(--fs-11);
}





@media (min-width: 700px){
    html, body{
        background-color: var(--Stone-100);
    }
    .container{
        max-width: 700px;
        background-color: var(--White);
        border-radius: 20px;
        margin-top:45px;
    }
    .container img{
        border-radius: 10px;
    }
}

